* {
  /* background-color: black;
  color: green; */
  font-size: 17px;
  font-family: sans-serif;
}

#parentDiv {
  /* height: 150vh; */
  position: relative;
  background-color: transparent; /* Transparent background */
}

#avatarDiv {
  margin-bottom: 10px;
  width: 200px;
  height: 100px;
  margin: auto;
}

#avatarDiv>img {
  width: 100%;
  height: 100%
}

/* .container{
  border: 1px solid red; */
/* display: flex;  */
/* justify-content: space-evenly;
} */
full-calendar {
  /* margin: auto; */
  /* border: 1px solid blue; */
}
::ng-deep #calendar{
  border: none;
}
::ng-deep #calendar .fc-col-header-cell-cushion{
  padding-bottom: 10px;
}
::ng-deep .fc .fc-daygrid-day-frame{
  display: flex !important;
  justify-content: center !important;
}

::ng-deep #calendar .fc-daygrid-day,::ng-deep #calendar .fc-col-header-cell{
  border: none;
}
::ng-deep #calendar .fc-day-past a.fc-daygrid-day-number {
  /* background-color: red; */
  color: grey !important;
  /* border: 1px solid red; */
}



::ng-deep #calendar a.fc-daygrid-day-number {
  font-size: 15px !important;
  /* font-weight: bold !important; */
  font-family: sans-serif;
  /* font-family: cursive; */
  /* background-color: rgb(244, 250, 253); */
  /* margin: 2px; */
  /* border-radius: 50px;*/
  /* border: 1px solid red; */

}
/* .fc .fc-scrollgrid-liquid */
::ng-deep .fc .fc-scrollgrid-liquid, ::ng-deep .fc .fc-scrollgrid-liquid td, ::ng-deep .fc .fc-scrollgrid-liquid th{
  border: none;
}

::ng-deep #calendar a.fc-daygrid-day-number:hover {
  cursor: pointer;
}

/* .fc-daygrid-day-top{
  border: 2px solid red;
  color : red;
  background-color: green;
} */
.timeDiv {
  width: 40%;
  /* border: 1px solid green; */
  margin-left: 2px;
  display: flex;
  justify-content: space-between;
  /* height: 100vh; */
}

#times {
  margin: auto;
  /* border: 1px solid red; */
  width: 80%;
  /* overflow:scroll; */
  overflow-x: hidden;
  /* overflow-y: auto; */
  height: calc(100% - 1px);
  /* height: 100%; */
  margin-top: 40px;
}

.oneTime {
  width: 100%;
  height: 50px;
  /* border: 1px solid #0060E6; */
  /* color: #0060E6; */
  /* background-color: white; */
  border-radius: 5px;
  margin-bottom: 20px;
}

.oneTimeHidden,
.nextBtn {
  width: 48%;
  height: 50px;
  /* border: 1px solid #0060E6; */
  color: #0060E6;
  /* background-color: white; */
  border-radius: 5px;
  margin-bottom: 20px;
}

.oneTimeHidden {
  margin-right: 4%;
  background-color: grey;
  border: none;
  color: white;
}

#timeLeftDIv {
  /* border: 1px solid blue; */
  width: 100%;
  /* height: 100vh; */
}

.nextBtn {
  background-color: #0060E6;
  color: white;
}

.confirmEvent {
  margin: 2px;
  width: 30%;
  height: 30px;
}

#loading {
  text-align: center;
}



#zoom {
  border: 1px solid rgb(160, 158, 158);
  width: 25%;
  text-align: center;
  border-radius: 5px;
}

#zoomIcon {
  display: block;
  margin: auto;
  width: 30px;
  height: 30px;
}

/* #rightDiv{
  width: 70%;
  padding-top: 2%;
  height: 150vh;
  margin: auto;
} */
#eventDeets {

  width: 70%;
  height: 80vh;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  /* background-color: white; */
  border: 1px solid red;
  display: flex;
  /* justify-content: space-evenly; */
  align-self: center;
  /* margin-top: 20px; */
}
#eventDeets>div{
  width: 50%;
}
#greyStrip {
  background-color: #333333;
  /* height: 10px; */
  padding: 15px;
  color: white;
  font-size: 14px;
  border-radius: 5px 5px 0 0;
}

#greyStrip p {
  display: inline;
}

#greyStrip>:nth-child(1) {
  font-weight: bold;
}

#belowGreyStrip {
  /* text-align: center; */
  /* padding-top: 30px; */
  opacity: 100;
  padding: 10px
}

#belowGreyStrip>:nth-child(1) {
  color: grey;
  font-weight: bold;
}

#belowGreyStrip>:nth-child(2) {
  font-style: italic;
  font-weight: bold;
  font-size: 26px;
}

#timeAndLocation {
  /* display: flex;
  justify-content: space-around; */
  /* color: #1A1A1A9C; */
  font-weight: bold;
}

#timeAndLocation div {
  display: flex;

}

ng-icon {
  display: flex;
  font-size: 20px;
  margin-right: 10px;
}

#locationP {
  font-style: italic;
}

#previewDiv {
  /* border: 1px solid black; */
  /* margin-top: 40%; */
  width: 50%;
  margin-left: 25%;
  font-size: 20px;
  color: rgb(124, 123, 123);
  font-weight: bold;
}

#bottomDiv {
  margin-top: 50px;
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-end;
}

#bottomDiv div {
  /* display: flex; */
  /* border: 1px solid red; */
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  font-size: 14px;
}

#bottomDiv>div>:nth-child(1) {
  border: none;
  background-color: white;
}

#bottomDiv>div>:nth-child(2) {
  background-color: #0069FF;
  padding: 10px;
  border-radius: 50px;
  border: none;
  color: white;
}

#redWarning {
  color: #C84545;
  font-size: 13px;
  font-weight: 300;
}

#previewP {
  text-align: left;
  color: #1A1A1A;
}

#calendar {
  /* border: 1px solid red; */
  font-size: 15px;
  width: 80%;
  height: 80%;
  /* width: 1000%; */
  align-self: center;

}

#divForCalendarAndTime {
  display: flex;
  justify-content: center;
  border: 1px solid green;
}



/* -------MontCalendar starts------------- */


::ng-deep #calendar .fc-toolbar-title {
  font-size: 15px;
}

::ng-deep #calendar .fc-button {
  background-color: #dddddd;
  color: black;
  padding: 0px;
  border: none;
  font-size: 10px;
}

::ng-deep #calendar a.fc-daygrid-day-number {
  font-weight: 500;
  font-size: 14px;
  color: #0060E6;
}


::ng-deep a {
  color: rgb(12, 12, 12);
  text-decoration: none;
  /* font-weight:300;
  font-size: 14px; */
  font-size: 13px;
  font-weight: 400;
}

/* ::ng-deep #monthCalendar .fc-event-title-container{
  display: none;
}
::ng-deep #monthCalendar .fc-event-time{
  font-size: 1px;
  font-weight: normal;
} */

/* -------MontCalendar ends--------- */
/* ====================================== */

#noTimesAv {
  background-color: rgb(234, 234, 255);
  padding: 5px;
  border-radius: 5px;
  /* font-size: 10px; */
}

#noTimesAv>:nth-child(1) {
  font-weight: bold;
}

#spotsLeft {
  margin-top: 5px;
  font-size: 12px;
}



.powered-by-badge {
  position: absolute;
  top: 35px;
  right: 16%;
  z-index: 1;
  width: 200px;
  height: 40px;
  background-color: #505960;
  color: #fff;
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  pointer-events: auto;
  transition: all .1s ease-in;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  clip-path: polygon(23% 0%, 77% 0%, 100% 100%, 0% 100%);
}

#poweredBy{
  font-size: 12px;
}

/* position: relative;
top: 21px;
left: -11px;
z-index: 1;
display: block;
width: 160px;
padding: 9px 0 6px;
background-color: #505960;
color: #fff;
box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
font-weight: 700;
line-height: 1.2;
text-align: center;
text-decoration: none;
pointer-events: auto;
transition: all .1s ease-in;
transform: rotate(45deg); */





@media (max-width: 780px) {
  #eventDeets {
      width: 80%;
  }
}


@media (max-width: 575px) {
  #eventDeets {
      width: 90%;
  }
}
