<div id="content">
  <div id="leftDiv">
      <div *ngIf="image" id="imageDiv">
          <img *ngIf="image" [src]="avatar" alt="avatar">
      </div>
      <p>{{userName}}</p>
      <h3 *ngIf="evName">{{evName}}</h3>
      <span *ngIf="evDurHrs || evDurMins"><ng-icon name="bootstrapClock"></ng-icon></span>  &nbsp; <span *ngIf="evDurHrs">{{evDurHrs}} hrs &nbsp; <!--  for space --></span>
      <span *ngIf="evDurMins">{{evDurMins}} mins</span>
       <p></p>
      <span><ng-icon name="remixCalendar2Line"></ng-icon> &nbsp; </span>
      <span>{{startTime}} - {{endTime}}, {{dateStr}}</span>
  </div>
  <div id="rightDiv">
      <h3>Cancel Event?</h3>
      <h4>Reason for canceling *</h4>
      <input type="text" [(ngModel)]="cancelationReason">
      <!-- <p *ngIf="showWarning && !cancelationReason" id="warning">This field is required</p> -->
      <p *ngIf="showWarning && !cancelationReason" id="warning">This field is required.</p>

      <button (click)="cancelEvent()">Cancel Event</button>
  </div>

</div>
